* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    height: 100vh;
    padding-top: 2%;
}

h2 {
    color: blue;
    font-size: 2em;
}

input {
    width: 25%;
    margin: 2%;
    color: blue;
    border: 1px solid blue;
}

img {
    width: 500px;
}